.left-padding {
    padding-left: 10px;

}
.signUpForm {
    position: relative;
    height: 100px; /* 적절한 높이 설정 */
  }
  
  .submitButton {
    position: relative;
    bottom: -130px; /* 컨테이너 하단에 위치 */
  }