body {
    font-family: 'Noto Sans', 'Noto Sans KR', Arial, sans-serif; /* 네이버 메일에서 사용하는 글꼴과 유사한 글꼴 */
    font-size: 14px; /* 기본 글자 크기를 작게 설정 */
    color: #333; /* 기본 글자 색상 */
    line-height: 1.5; /* 줄 간격 */
}

h1 {
    font-size: 24px; /* 제목 크기를 적절하게 크게 설정 */
    margin-bottom: .5em; /* 제목 아래의 여백 */
}

h3 {
    font-size: 18px; /* 부제목 크기 설정 */
    margin-bottom: .5em; /* 부제목 아래의 여백 */
}

.modalContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    font-size: 14px; /* 모달 내부 글자 크기 설정 */
}

button, input, select, textarea {
    font-family: inherit; /* 버튼과 입력 필드에 동일한 글꼴 적용 */
    font-size: inherit; /* 글꼴 크기 상속 */
}

.imageItem {
    width: calc(33.333% - 10px);
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .2s; /* 마우스 오버시 효과 */
}

.imageItem:hover {
    transform: scale(1.05); /* 마우스 오버시 이미지 확대 */
}

/* 추가적으로 링크에 대한 스타일을 정의할 수 있습니다. */
a {
    color: #000000; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover {
    text-decoration: underline; /* 마우스 오버시 밑줄 표시 */
}
